.App {
  display: grid;
  /* align-items: center; */
  column-gap: 24px;
  grid-template-columns: 264px 1fr;
}

/* normalize */

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}
